@font-face {
    font-family: 'permianseriftypefaceregular';
    src: url('../fonts/PermianSerifTypeface-webfont.eot');
    src: url('../fonts/PermianSerifTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PermianSerifTypeface-webfont.woff') format('woff'),
         url('../fonts/PermianSerifTypeface-webfont.ttf') format('truetype'),
         url('../fonts/PermianSerifTypeface-webfont.svg#permianseriftypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'permiansanstypefaceregular';
    src: url('../fonts/PermianSansTypeface-webfont.eot');
    src: url('../fonts/PermianSansTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PermianSansTypeface-webfont.woff') format('woff'),
         url('../fonts/PermianSansTypeface-webfont.ttf') format('truetype'),
         url('../fonts/PermianSansTypeface-webfont.svg#permiansanstypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen {
body {
font-family: permiansanstypefaceregular,TimesNewRoman,serif;
/*background-image:url("../images/background.jpg");*/
background-color:#FFFFFF;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top left;
background-size: cover;
}

#theIntro {
margin: auto;
width: 50%; 
box-shadow: 10px 10px 10px black;
background-color: rgba(0, 0, 0, 0.5);
text-align: center;
color: #000000;
}

#heading {
  
}

#languageSelectors { 

}

#theApplication{
margin: auto;
width: 50%; 
box-shadow: 10px 10px 10px black;
background-color: rgba(0, 0, 0, 0.5)
}

#theButtons {
margin: auto;
width: 50%; 
box-shadow: 10px 10px 10px black;
background-color: rgba(0, 0, 0, 0.5)
}

button {
margin: 10mm;
box-shadow: 10px 10px 10px black;  
}


#theCard {
height: 53.98mm;
width: 85.60mm;
table-layout: fixed;
border-collapse: collapse;
box-shadow: 3px 3px 5px black;
}


.tableHead {
background-color: #888888;
}

.singleCell {
border-color: #000000;
border-style: solid;
border-width: 0.1mm;
font-size: 2.5mm;
text-align: center;
}
}

@media print {
body {
font-family: permianseriftypefaceregular,TimesNewRoman,serif;
/*background-image:url("../images/background.jpg");*/
background-color:#FFFFFF;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top left;
background-size: cover;
}

#theIntro {
display: none;
  
}
#theButtons {
display:none;
}

#theCard {
height: 53.98mm;
width: 85.60mm;
table-layout: fixed;
border-collapse: collapse;
box-shadow: 3px 3px 5px black;
}
.tableHead {
background-color: #888888;
}

.singleCell {
font-family: permianseriftypefaceregular,TimesNewRoman,serif;
border-color: #000000;
border-style: solid;
border-width: 0.1mm;
font-size: 2.5mm;
text-align: center;
}

}

